* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root{
    font-size: 62,5%;
}

#app > * {
    border: 1px solid red;
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}


header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
  }
  
input{
    width: 100%;
  }
  
  .input-wrapper{
    margin: 0 2.5rem 0 2.5rem;
  }

  main, nav {
    width: 43.4rem;
    height: 21.9rem;
  }

  #container {
    overflow-y: scroll;
  }

  footer{
    padding: 2.65rem 1.6rem;
    margin: 0;
    background-color: #387E96;
    align-items: center;
    text-align: center;
  }
